
<script src="/angular_assets/runtime.f12b6390b6dfe9bc.js" type="module"></script>
<script src="/angular_assets/polyfills.cd4b02e8647d32c8.js" type="module"></script>
<script src="/angular_assets/main.28c576b20400a3a6.js" type="module"></script>

<main>
    <app-root></app-root>
</main>