---
import Card from '../../components/Card.astro';
import GenericStyle from '../../styles/GenericStyle.astro';
import { CustomReactTodoApp }  from '../../components/custom-react-component';
---


<main>
    <h1>Welcome to <span class="text-gradient">Custom React Components Rendered with Astro </span></h1>
    <p class="instructions">
        this astro index file uses astro component and custom React components
    </p>
    <Card
            href="/"
            title="Back to home page"
            body="navigates back to /pages and loads the default index file"
    />
    <h3></h3>
    <CustomReactTodoApp count="1" client:idle="react"></CustomReactTodoApp>
    <CustomReactTodoApp count="2"></CustomReactTodoApp>
    <CustomReactTodoApp client:only="react"></CustomReactTodoApp>

    <br/><br/>
    <a href="/react/ExampleReact">See react example in html file</a>

</main>


<style>
    :root {
        --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
    }

    h1 {
        margin: 2rem 0;
    }

    main {
        margin: auto;
        padding: 1em;
        max-width: 60ch;
    }

    .instructions {
        line-height: 1.6;
        margin: 1rem 0;
        background: #4f39fa;
        padding: 1rem;
        border-radius: 0.4rem;
        color: var(--color-bg);
    }
</style>
